{% extends "layout.html" %}

{% block heading %}
    Home
{% endblock %}

{% block main %}
    <div class="topbar">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search your friends list" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
             </form>
        </nav>

        <div class="dropdown-btn">
            <button class="initial">{{ initial }}</button>

            <ul class="dropdown-list">
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('friends') }}">Friends</a></li>
                <li><a href="{{ url_for('settings') }}">Settings</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 menu">

            </div>

            <div class="col-12 col-sm-9 chat-section">

            </div>
        </div>
    </div>
{% endblock %}